*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: #EEF5FF;

}

.mainContainer{
    background-color: rgb(7, 52, 52);
    color: aliceblue;
    margin: 10% 10% auto 10%;
    padding: 50px 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 2vw;
    padding-bottom: 15px;
}
.topContent{
    height: 40px;
    width: 70%;
    margin-bottom: 20px;
    color:rgb(255, 255, 255) ;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#textrField{
    border: 0;
    height: 100%;
    width: 85%;
    min-width: 150px;
    padding-left: 5px;
    border-radius: 3px;
    margin-right: 16px;
}
#textrField:hover{
    background-color: #fffffff1;
}

.bottomContent button{
    padding: 7px 6px;
    border-radius: 3px;
    border: 0;

}
.bottomContent button:hover{
    color: #e8e4e4;
    background-color: #22ad20;
    border: 0;
}

.copy{
    background-color:#ffffff;
    height: 100%;
    width: 43px;
    min-width: 100px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    border-radius: 50%;
}
.copy:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}


@media (max-width:600px) {
    h1{
        font-size: 3vh;
        padding-bottom: 15px;
    }
    .topContent{
        height: 40px;
        width: 85%;
        margin-bottom: 20px;
        color:rgb(255, 255, 255) ;
        display: flex;
        align-items: center;
        border-radius: 3px;
    }
    
    #textrField{
        border: 0;
        height: 100%;
        width: 90%;
        padding-left: 5px;
        border-radius: 3px;
        margin-right: 16px;
    }
}

@media (max-width:600px) {
    h1{
        font-size: 3vh;
        padding-bottom: 15px;
    }
    .topContent{
        height: 40px;
        width: 85%;
        margin-bottom: 20px;
        color:rgb(255, 255, 255) ;
        display: flex;
        align-items: center;
        border-radius: 3px;
    }
    
    #textrField{
        border: 0;
        height: 100%;
        width: 90%;
        padding-left: 5px;
        border-radius: 3px;
        margin-right: 16px;
    }
   
}